
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Blog Single -->
<section class="section-wrap pb-20">
    <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="index.html">News</a>
            </li>
            <li class="active">
                Blog Single
            </li>
        </ol>

        <div class="row">

            <!-- content -->
            <div class="col-lg-8 mb-50">

                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="blog-single.html">For the love of clothes and fashion Store</a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Fashion</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="blog-single.html">
                            <img src="/Content/img/blog/post_1.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__article">
                        <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut. Morbi consequat purus ac ultricies commodo. Integer aliquam ante a mauris gravida, vitae bibendum neque pharetra. Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. Vivamus hendrerit congue nisi, et nisl tincida vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a interdum ac, ultricies in elit. </p>

                        <blockquote>
                            <p>“Incredible change happens in your life when you decide to take control of what you do have power over instead of craving control over what you don't.”</p>
                            <cite>- Steve Maraboli</cite>
                        </blockquote>

                        <p>Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. Vivamus hendrerit congue nisi, et nisl tincida vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a interdum ac, ultricies in elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere hendrerit ex eu scelerisque.</p>

                        <h2>Our theme is the flexible theme</h2>

                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are quickened, charged. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion.</p>


                        <!-- tags -->
                        <div class="entry__tags">
                            Tags: <a href="#" rel="tag">app</a>, <a href="#" rel="tag">design</a>, <a href="#" rel="tag">mobile</a>
                        </div> <!-- end tags -->
                        <!-- share -->
                        <div class="entry__share">
                            <span class="entry__share-label">Share on</span>
                            <div class="socials">
                                <a href="#" class="facebook"><i class="ui-facebook"></i></a>
                                <a href="#" class="twitter"><i class="ui-twitter"></i></a>
                                <a href="#" class="snapchat"><i class="ui-snapchat"></i></a>
                                <a href="#" class="instagram"><i class="ui-instagram"></i></a>
                                <a href="#" class="pinterest"><i class="ui-pinterest"></i></a>
                            </div>
                        </div> <!-- end share -->

                    </div> <!-- end entry article -->

                </article> <!-- end standard post -->
                <!-- Author -->
                <div class="entry-author clearfix">
                    <img src="/Content/img/blog/author.jpg" class="entry-author__img" alt="img">
                    <div class="entry-author__info">
                        <h6 class="entry-author__name"><a href="#">Jessie Rodrigues</a></h6>
                        <p class="mb-0">But unfortunately for most of us our role as gardener has never been explained to us. And in misunderstanding our role, we have allowed seeds of all types, both good and bad, to enter our inner garden.</p>
                    </div>
                </div>

                <!-- Comments -->
                <div class="entry-comments mt-30">
                    <h5 class="entry-comments__title uppercase mb-30">3 comments</h5>

                    <ul class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-avatar">
                                    <img alt="" src="/Content/img/blog/comment_1.jpg">
                                </div>
                                <div class="comment-text">
                                    <h6 class="comment-author">Joeby Ragpa</h6>
                                    <div class="comment-metadata">
                                        <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>
                                    </div>
                                    <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                                    <a href="#" class="comment-reply">Reply</a>
                                </div>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="comment-avatar">
                                            <img alt="" src="/Content/img/blog/comment_2.jpg">
                                        </div>
                                        <div class="comment-text">
                                            <h6 class="comment-author">Alexander Samokhin</h6>
                                            <div class="comment-metadata">
                                                <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>
                                            </div>
                                            <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                                            <a href="#" class="comment-reply">Reply</a>
                                        </div>
                                    </div>
                                </li> <!-- end reply comment -->
                            </ul>

                        </li> <!-- end 1-2 comment -->

                        <li>
                            <div class="comment-body">
                                <div class="comment-avatar">
                                    <img alt="" src="/Content/img/blog/comment_3.jpg">
                                </div>
                                <div class="comment-text">
                                    <h6 class="comment-author">Chris Root</h6>
                                    <div class="comment-metadata">
                                        <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>
                                    </div>
                                    <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                                    <a href="#" class="comment-reply">Reply</a>
                                </div>
                            </div>
                        </li> <!-- end 3 comment -->

                    </ul>
                </div> <!-- end comments -->
                <!-- Comment Form -->
                <div id="respond" class="comment-respond">
                    <h5 class="comment-respond__title uppercase">post a comment</h5>
                    <form id="form" class="comment-form" method="post" action="#">
                        <p class="comment-form-comment">
                            <label for="comment">Comment</label>
                            <textarea id="comment" name="comment" rows="7" required="required"></textarea>
                        </p>

                        <div class="row">
                            <div class="col-lg-4">
                                <label for="name">Name*</label>
                                <input name="name" id="name" type="text">
                            </div>
                            <div class="col-lg-4">
                                <label for="email">Email*</label>
                                <input name="email" id="email" type="email">
                            </div>
                            <div class="col-lg-4">
                                <label for="email">Website</label>
                                <input name="website" id="website" type="text">
                            </div>
                        </div>

                        <p class="comment-form-submit">
                            <input type="submit" class="btn btn-lg btn-color btn-button" value="Post Comment" id="submit-message">
                        </p>

                    </form>
                </div> <!-- end comment form -->

            </div> <!-- end col -->
            <!-- Sidebar -->
            <aside class="col-lg-4 sidebar">

                <div class="sidebar__box">

                    <!-- About -->
                    <div class="widget widget_text">
                        <h4 class="widget-title">About</h4>
                        <div class="textwidget">
                            <p>
                                Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine.
                            </p>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="widget widget_categories">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Science</a>
                            </li>
                            <li>
                                <a href="#">Sport</a>
                            </li>
                            <li>
                                <a href="#">Politics</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Recent Posts -->
                    <div class="widget widget_recent_entries">
                        <h4 class="widget-title">Recent Posts</h4>
                        <ul>
                            <li>
                                <a href="#">For the Love of clothes and Fashion Store</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                            <li>
                                <a href="#">New Web Site for Fashion Retailers</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                            <li>
                                <a href="#">Personal Styles of 10 Successful Enterpreneurs</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Follow Us -->
                    <div class="widget widget-follow">
                        <h4 class="widget-title">Follow Us</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>


                    <!-- Tags -->
                    <div class="widget widget_tags clearfix">
                        <h4 class="widget-title">Tag Cloud</h4>
                        <a href="#">Multi-purpose</a>
                        <a href="#">Creative</a>
                        <a href="#">Elegant</a>
                        <a href="#">Clean</a>
                        <a href="#">Modern</a>
                        <a href="#">Responsive</a>
                        <a href="#">E-commerce</a>
                        <a href="#">WordPress</a>
                        <a href="#">Woocommerce</a>
                        <a href="#">Store</a>
                        <a href="#">Business</a>
                    </div>

                </div> <!-- end sidebar box -->
            </aside> <!-- end sidebar -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end blog single -->
