<!DOCTYPE html>
<html lang="en">

<head>
    <title>Namira | Home</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/font-icons.css" />
    <link rel="stylesheet" href="/Content/color.css" />
    <link rel="stylesheet" href="/Content/util.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="/Scripts/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/MagnificPopup/magnific-popup.css">


    <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/Content/style.css" />



    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">


    <!-- Favicons -->
    <link rel="shortcut icon" href="/Content/img/favicon.ico">
    <link rel="apple-touch-icon" href="/Content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/apple-touch-icon-114x114.png">

</head>

<body>

    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
        </div>
    </div>


    <!-- Mobile Sidenav -->
    <header class="sidenav" id="sidenav">
        <!-- Search -->
        <div class="sidenav__search-mobile">
            <form method="get" class="sidenav__search-mobile-form">
                <input type="search" class="sidenav__search-mobile-input" placeholder="Search..." aria-label="Search input">
                <button type="submit" class="sidenav__search-mobile-submit" aria-label="Submit search">
                    <i class="ui-search"></i>
                </button>
            </form>
        </div>

        <nav>
            <ul class="sidenav__menu" role="menubar">
                <li>
                    <a href="#" class="sidenav__menu-link">Men</a>
                    <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                    <ul class="sidenav__menu-dropdown">
                        <li><a href="#" class="sidenav__menu-link">T-shirt</a></li>
                        <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                        <li><a href="#" class="sidenav__menu-link">Suits</a></li>
                        <li><a href="#" class="sidenav__menu-link">Shorts</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="sidenav__menu-link">Women</a>
                    <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                    <ul class="sidenav__menu-dropdown">
                        <li><a href="#" class="sidenav__menu-link">Underwear</a></li>
                        <li><a href="#" class="sidenav__menu-link">Hipster</a></li>
                        <li><a href="#" class="sidenav__menu-link">Dress</a></li>
                        <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                        <li><a href="#" class="sidenav__menu-link">Tees</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="sidenav__menu-link">Accessories</a>
                    <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                    <ul class="sidenav__menu-dropdown">
                        <li>
                            <a href="#" class="sidenav__menu-link">All accessories</a>
                            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                            <ul class="sidenav__menu-dropdown">
                                <li>
                                    <a href="#" class="sidenav__menu-link">Wallets</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Scarfs</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Shirt</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Shoes</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="sidenav__menu-link">for her</a>
                            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                            <ul class="sidenav__menu-dropdown">
                                <li>
                                    <a href="#" class="sidenav__menu-link">Underwear</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Hipster</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Dress</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Tees</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="sidenav__menu-link">for him</a>
                            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                            <ul class="sidenav__menu-dropdown">
                                <li>
                                    <a href="#" class="sidenav__menu-link">T-shirt</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Dress</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Suits</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Shorts</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="sidenav__menu-link">Watches</a>
                            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                            <ul class="sidenav__menu-dropdown">
                                <li>
                                    <a href="#" class="sidenav__menu-link">Smart Watches</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Diving Watches</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Sport Watches</a>
                                </li>
                                <li>
                                    <a href="#" class="sidenav__menu-link">Classic Watches</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#" class="sidenav__menu-link">News</a>
                    <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                    <ul class="sidenav__menu-dropdown">
                        <li><a href="blog-standard.html" class="sidenav__menu-link">Blog Standard</a></li>
                        <li><a href="blog-single.html" class="sidenav__menu-link">Single Post</a></li>
                    </ul>
                </li>



                <li>
                    <a href="#" class="sidenav__menu-link">Pages</a>
                    <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                    <ul class="sidenav__menu-dropdown">
                        <li><a href="/Catalog/Index" class="sidenav__menu-link">Catalog</a></li>
                        <li><a href="single-product.html" class="sidenav__menu-link">Single Product</a></li>
                        <li><a href="/Cart/Index" class="sidenav__menu-link">Cart</a></li>
                        <li><a href="//CheckOut/Index/Index.html" class="sidenav__menu-link">Chec kOut</a></li>
                        <li><a href="about.html" class="sidenav__menu-link">About</a></li>
                        <li><a href="contact.html" class="sidenav__menu-link">Contact</a></li>
                        <li><a href="login.html" class="sidenav__menu-link">Login</a></li>
                        <li><a href="faq.html" class="sidenav__menu-link">FAQ</a></li>
                        <li><a href="404.html" class="sidenav__menu-link">404</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="sidenav__menu-link">Sign In</a>
                </li>
            </ul>
        </nav>
    </header> <!-- end mobile sidenav -->



    <main class="main oh" id="main">

        <!-- Navigation -->
        <header class="nav">

            <div class="nav__holder nav--sticky">
                <div class="container relative">

                    <!-- Top Bar -->
                    <div class="top-bar d-none d-lg-flex">

                        <!-- Currency / Language -->
                        <ul class="top-bar__currency-language">
                            <li class="top-bar__language">
                                <a href="#">English</a>
                                <div class="top-bar__language-dropdown">
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Chinese</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="top-bar__currency">
                                <a href="#">USD</a>
                                <div class="top-bar__currency-dropdown">
                                    <ul>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <!-- Promo -->
                        <p class="top-bar__promo text-center">Free shipping on orders over $50</p>

                        <!-- Sign in / Wishlist / Cart -->
                        <div class="top-bar__right">

                            <!-- Sign In -->
                            <a href="#loginModal" class="top-bar__item" data-toggle="modal">SIGN IN</a>
                            <a href="#registerModal" class="top-bar__item" data-toggle="modal">REGISTER</a>
                            
                            <!-- Wishlist -->
                            <div class="top-bar__item nav-cart">
                                <a href="/Cart/Index">
                                    <i class="ui-heart"></i>(2)
                                </a>
                                <div class="nav-cart__dropdown">
                                    <div class="nav-cart__items">

                                        <div class="nav-cart__item clearfix">
                                            <div class="nav-cart__img">
                                                <a href="#">
                                                    <img src="/Content/img/shop/cart_small_1.jpg" alt="">
                                                </a>    
                                            </div>
                                            <div class="nav-cart__title">
                                                <a href="#">
                                                    Classic White Tailored Shirt
                                                </a>
                                                <div class="nav-cart__price">
                                                    <span>1 x</span>
                                                    <span>19.99</span>
                                                </div>
                                            </div>
                                            <div class="nav-cart__remove">
                                                <a href="#"><i class="ui-close"></i></a>
                                            </div>
                                        </div>

                                        <div class="nav-cart__item clearfix">
                                            <div class="nav-cart__img">
                                                <a href="#">
                                                    <img src="/Content/img/shop/cart_small_2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="nav-cart__title">
                                                <a href="#">
                                                    Sport Hi Adidas
                                                </a>
                                                <div class="nav-cart__price">
                                                    <span>1 x</span>
                                                    <span>29.00</span>
                                                </div>
                                            </div>
                                            <div class="nav-cart__remove">
                                                <a href="#"><i class="ui-close"></i></a>
                                            </div>
                                        </div>

                                    </div> <!-- end cart items -->

                                    <div class="nav-cart__summary">
                                        <span>Cart Subtotal</span>
                                        <span class="nav-cart__total-price">$1799.00</span>
                                    </div>

                                    <div class="nav-cart__actions mt-20">
                                        <a href="/Cart/Index" class="btn btn-md btn-light"><span>View Cart</span></a>
                                        <a href="/CheckOut/Index.html" class="btn btn-md btn-color mt-10"><span>Proceed to /CheckOut/Index</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="top-bar__item nav-cart">
                                <a href="/Cart/Index">
                                    <i class="ui-bag"></i>(2)
                                </a>
                                <div class="nav-cart__dropdown">
                                    <div class="nav-cart__items">

                                        <div class="nav-cart__item clearfix">
                                            <div class="nav-cart__img">
                                                <a href="#">
                                                    <img src="/Content/img/shop/cart_small_1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="nav-cart__title">
                                                <a href="#">
                                                    Classic White Tailored Shirt
                                                </a>
                                                <div class="nav-cart__price">
                                                    <span>1 x</span>
                                                    <span>19.99</span>
                                                </div>
                                            </div>
                                            <div class="nav-cart__remove">
                                                <a href="#"><i class="ui-close"></i></a>
                                            </div>
                                        </div>

                                        <div class="nav-cart__item clearfix">
                                            <div class="nav-cart__img">
                                                <a href="#">
                                                    <img src="/Content/img/shop/cart_small_2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="nav-cart__title">
                                                <a href="#">
                                                    Sport Hi Adidas
                                                </a>
                                                <div class="nav-cart__price">
                                                    <span>1 x</span>
                                                    <span>29.00</span>
                                                </div>
                                            </div>
                                            <div class="nav-cart__remove">
                                                <a href="#"><i class="ui-close"></i></a>
                                            </div>
                                        </div>

                                    </div> <!-- end cart items -->

                                    <div class="nav-cart__summary">
                                        <span>Cart Subtotal</span>
                                        <span class="nav-cart__total-price">$1799.00</span>
                                    </div>

                                    <div class="nav-cart__actions mt-20">
                                        <a href="/Cart/Index" class="btn btn-md btn-light"><span>View Cart</span></a>
                                        <a href="/CheckOut/Index.html" class="btn btn-md btn-color mt-10"><span>Proceed to /CheckOut/Index</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end top bar -->

                    <div class="flex-parent">

                        <!-- Mobile Menu Button -->
                        <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open mobile menu">
                            <span class="nav-icon-toggle__box">
                                <span class="nav-icon-toggle__inner"></span>
                            </span>
                        </button> <!-- end mobile menu button -->
                        <!-- Logo -->
                        <a href="/Home/Index" class="logo">
                            <img class="logo__img" src="/Content/img/logo_light.png" alt="logo">
                        </a>

                        <!-- Nav-wrap -->
                        <nav class="flex-child nav__wrap d-none d-lg-block">
                            <ul class="nav__menu">

                                <li class="nav__dropdown active">
                                    <a href="/Catalog/Index">Men</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="#">T-shirt</a></li>
                                        <li><a href="#">Hoodie &amp; Jackets</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Shorts</a></li>
                                    </ul>
                                </li>

                                <li class="nav__dropdown">
                                    <a href="/Catalog/Index">Women</a>
                                    <ul class="nav__dropdown-menu">
                                        <li><a href="#">Underwear</a></li>
                                        <li><a href="#">Hipster</a></li>
                                        <li><a href="#">Dress</a></li>
                                        <li><a href="#">Hoodie &amp; Jackets</a></li>
                                        <li><a href="#">Tees</a></li>
                                    </ul>
                                </li>

                                <li class="nav__dropdown">
                                    <a href="/Catalog/Index">Accessories</a>
                                    <ul class="nav__dropdown-menu nav__megamenu">
                                        <li>
                                            <div class="nav__megamenu-wrap">
                                                <div class="row">

                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">All accessories</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="#">Wallets</a></li>
                                                            <li><a href="#">Scarfs</a></li>
                                                            <li><a href="#">Belts</a></li>
                                                            <li><a href="#">Shoes</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">for her</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="#">Underwear</a></li>
                                                            <li><a href="#">Hipster</a></li>
                                                            <li><a href="#">Dress</a></li>
                                                            <li><a href="#">Hoodie &amp; Jackets</a></li>
                                                            <li><a href="#">Tees</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">for him</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="#">T-shirt</a></li>
                                                            <li><a href="#">Hoodie &amp; Jackets</a></li>
                                                            <li><a href="#">Suits</a></li>
                                                            <li><a href="#">Shorts</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col nav__megamenu-item">
                                                        <a href="#" class="nav__megamenu-title">watches</a>
                                                        <ul class="nav__megamenu-list">
                                                            <li><a href="#">Smart Watches</a></li>
                                                            <li><a href="#">Diving Watches</a></li>
                                                            <li><a href="#">Sport Watches</a></li>
                                                            <li><a href="#">Classic Watches</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="/Blog/Index" class="sidenav__menu-link">Blog</a>
                                </li>

                                <li>
                                    <a href="/FAQ/Index" class="sidenav__menu-link">FAQ</a>
                                </li>

                                <li>
                                    <a href="/Contact/Index" class="sidenav__menu-link">Contact</a>
                                </li>

                                <li>
                                    <a href="/About/Index" class="sidenav__menu-link">About</a>
                                </li>

                            </ul> <!-- end menu -->

                        </nav> <!-- end nav-wrap -->
                        <!-- Search -->
                        <div class="flex-child nav__search d-none d-lg-block">
                            <form method="get" class="nav__search-form">
                                <input type="search" class="nav__search-input" placeholder="Search">
                                <button type="submit" class="nav__search-submit">
                                    <i class="ui-search"></i>
                                </button>
                            </form>
                        </div>


                        <!-- Mobile Wishlist -->
                        <a href="#" class="nav__mobile-wishlist d-lg-none" aria-label="Mobile wishlist">
                            <i class="ui-heart"></i>
                        </a>

                        <!-- Mobile Cart -->
                        <a href="/Cart/Index" class="nav__mobile-cart d-lg-none">
                            <i class="ui-bag"></i>
                            <span class="nav__mobile-cart-amount">(2)</span>
                        </a>




                    </div> <!-- end flex-parent -->
                </div> <!-- end container -->

            </div>
        </header> <!-- end navigation -->
        @RenderBody();

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer__widgets">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget__about">
                                <h4 class="widget-title white">about us</h4>
                                <p class="widget__about-text">
                                    Namira is a very slick and clean e-commerce template with endless
                                    possibilities.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget__newsletter">
                                <h4 class="widget-title white">get exclusive offers &amp; updates</h4>

                                <form class="mc4wp-form">
                                    <div class="mc4wp-form-fields">
                                        <p><input type="email" placeholder="Please enter your email address" aria-label="Newsletter input"></p>
                                        <p><input type="submit" value="Subscribe"></p>
                                    </div>
                                </form>

                                <div class="socials socials--white mt-20">
                                    <a href="#" class="facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                                    <a href="#" class="twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                                    <a href="#" class="snapchat" aria-label="snapchat"><i class="ui-snapchat"></i></a>
                                    <a href="#" class="instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                                    <a href="#" class="pinterest" aria-label="pinterest"><i class="ui-pinterest"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4 class="widget-title white">help</h4>
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Tract Order</a></li>
                                    <li><a href="#">Returns &amp; Refunds</a></li>
                                    <li><a href="#">Private Policy</a></li>
                                    <li><a href="#">Shipping Info</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4 class="widget-title white">information</h4>
                                <ul>
                                    <li><a href="#">Our Stores</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Delivery Info</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Namira Reviews</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- end container -->

            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-sm-center">
                            <span class="copyright">
                                &copy; 2017 Namira Theme. Made by <a href="http://deothemes.com">DeoThemes</a>
                            </span>
                        </div>

                        <div class="col-md-6 footer__payment-systems text-right text-sm-center mt-sml-10">
                            <i class="ui-paypal"></i>
                            <i class="ui-visa"></i>
                            <i class="ui-mastercard"></i>
                            <i class="ui-discover"></i>
                            <i class="ui-amex"></i>
                        </div>
                    </div>
                </div>
            </div> <!-- end bottom footer -->
        </footer>
        <!-- end footer -->

        <div id="back-to-top" class="show">
            <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
        </div>

    </main>
    <!-- end main-wrapper -->
    <!-- Modal HTML -->
    <!-- Register modal -->
    <div id="registerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h3>Register</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label for="register-input">Email address <abbr class="required" title="required">*</abbr></label>
                        <input type="text" name="email" id="register-input">

                        <label for="password">Password <abbr class="required" title="required">*</abbr></label>
                        <input type="password" name="password" id="register-password">

                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="register" value="Register" class="btn btn-md btn-dark btn-button">
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Login modal -->
    <div id="loginModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h3>Sign In</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label for="sign-in-input">Username or email address <abbr class="required" title="required">*</abbr></label>
                        <input type="text" name="email" id="sign-in-input">

                        <label for="sign-in-password">Password <abbr class="required" title="required">*</abbr></label>
                        <input type="text" name="password" id="sign-in-password">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="sign-in-popup__forgot-password">Forgot Password?</a>
                        <input type="submit" name="sign-in" value="Sign In" class="btn btn-md btn-dark btn-button">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Quick view modal -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>

        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="/Content/images/icons/icon-close.png" alt="CLOSE">
                </button>

                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div class="slick3 gallery-lb">
                                    <div class="item-slick3" data-thumb="/Content/images/product-detail-01.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="/Content/images/product-detail-01.jpg" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Content/images/product-detail-01.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="/Content/images/product-detail-02.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="/Content/images/product-detail-02.jpg" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Content/images/product-detail-02.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="/Content/images/product-detail-03.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="/Content/images/product-detail-03.jpg" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Content/images/product-detail-03.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-l-25 p-r-30 product-single">
                            <h1 class="product-single__title uppercase">Casual jacket</h1>

                            <div class="rating">
                                <a href="#">3 Reviews</a>
                            </div>

                            <span class="product-single__price">
                                <ins>
                                    <span class="amount">$17.99</span>
                                </ins>
                                <del>
                                    <span>$30.00</span>
                                </del>
                            </span>

                            <div class="brief-info clearfix">
                                <p>
                                    Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine.
                                </p>
                            </div>

                            <div class="product_meta">
                                <ul>
                                    <li>
                                        <span class="product-code">Product Code: <span>111763</span></span>
                                    </li>
                                    <li>
                                        <span class="product-material">Material: <span>Cotton 100%</span></span>
                                    </li>
                                    <li>
                                        <span class="product-country">Country: <span>Made in Canada</span></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="colors clearfix">
                                <span class="colors__label">Color: <span class="colors__label-selected">Fadaed Blue</span></span>
                                <a href="#" class="colors__item colors__item--selected blue"></a>
                                <a href="#" class="colors__item black"></a>
                                <a href="#" class="colors__item pink"></a>
                            </div>

                            <div class="size-quantity clearfix">
                                <div class="size">
                                    <label>Size</label>
                                    <select name="size" id="size__select" class="size__select">
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>

                                <div class="quantity">
                                    <label>Quantity</label>
                                    <select name="quantity" id="quantity__select" class="quantity__select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row row-10 product-single__actions clearfix">


                                <div class="col">
                                    <a href="#" class="btn btn-lg btn-dark product-single__add-to-wishlist">
                                        <i class="ui-heart"></i>
                                        <span>Wishlist</span>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#" class="btn btn-lg btn-success product-single__add-to-wishlist">
                                        <i class="zmdi zmdi-info"></i>
                                        <span>View detail</span>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#" class="btn btn-lg btn-info product-single__add-to-cart">
                                        <i class="ui-bag"></i>
                                        <span>Add to Cart</span>
                                    </a>
                                </div>


                            </div>
                        </di    v> <!-- end col product description -->
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    < <!-- jQuery Scripts -->
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script src="/vendor/animsition/js/animsition.min.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/easing.min.js"></script>


    <script src="/Scripts/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>

    <script type="text/javascript" src="/Scripts/owl-carousel.min.js"></script>
    <script type="text/javascript" src="/Scripts/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="/Scripts/modernizr.min.js"></script>

    <script src="/Scripts/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>

    <script src="/Scripts/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->

    <script src="/Scripts/slick/slick.min.js"></script>
    <script src="/Scripts/slick-custom.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>

</body>

</html>