
<div id="registerModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h3>Register</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="register-input">Email address <abbr class="required" title="required">*</abbr></label>
                    <input type="text" name="email" id="register-input">

                    <label for="password">Password <abbr class="required" title="required">*</abbr></label>
                    <input type="password" name="password" id="register-password">

                </div>
                <div class="modal-footer">
                    <input type="submit" name="register" value="Register" class="btn btn-md btn-dark btn-button">
                </div>
            </form>

        </div>
    </div>
</div>