
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Blog Standard -->
<section class="section-wrap pb-50">
    <div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="index.html">News</a>
            </li>
            <li class="active">
                Blog Classic
            </li>
        </ol>

        <div class="row">

            <!-- content -->
            <div class="col-lg-8 mb-50">

                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="/BlogDetail/Index">For the love of clothes and fashion Store</a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Fashion</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="/BlogDetail/Index">
                            <img src="/Content/img/blog/post_1.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__body">
                        <div class="entry__excerpt">
                            <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.</p>
                            <div class="entry__read-more">
                                <a href="blog-single.html" class="entry__read-more-link">Read More</a>
                            </div>
                        </div>
                    </div>

                </article> <!-- end standard post -->
                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="blog-single.html">New web site for fashion retailers</a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Fashion</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="blog-single.html">
                            <img src="/Content/img/blog/post_2.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__body">
                        <div class="entry__excerpt">
                            <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.</p>
                            <div class="entry__read-more">
                                <a href="blog-single.html" class="entry__read-more-link">Read More</a>
                            </div>
                        </div>
                    </div>

                </article> <!-- end standard post -->
                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="/BlogDetail/Index">Personal styles of 10 successful entrepreneurs </a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Style</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="blog-single.html">
                            <img src="/Content/img/blog/post_3.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__body">
                        <div class="entry__excerpt">
                            <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.</p>
                            <div class="entry__read-more">
                                <a href="blog-single.html" class="entry__read-more-link">Read More</a>
                            </div>
                        </div>
                    </div>

                </article> <!-- end standard post -->
                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="/BlogDetail/Index">How to start your fashion business at home</a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Style</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="blog-single.html">
                            <img src="/Content/img/blog/post_4.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__body">
                        <div class="entry__excerpt">
                            <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.</p>
                            <div class="entry__read-more">
                                <a href="blog-single.html" class="entry__read-more-link">Read More</a>
                            </div>
                        </div>
                    </div>

                </article> <!-- end standard post -->
                <!-- standard post -->
                <article class="entry">

                    <div class="entry__header">
                        <h2 class="entry__title">
                            <a href="/BlogDetail/Index">outfit of the week</a>
                        </h2>
                        <ul class="entry__meta">
                            <li class="entry__meta-date">
                                <span class="entry__meta-label">date: </span>July 7, 2017
                            </li>
                            <li class="entry__meta-category">
                                <span class="entry__meta-label">categories: </span><a href="#">Style</a>
                            </li>
                        </ul>
                    </div>

                    <div class="entry__img-holder">
                        <a href="blog-single.html">
                            <img src="/Content/img/blog/post_5.jpg" alt="" class="entry__img">
                        </a>
                    </div>

                    <div class="entry__body">
                        <div class="entry__excerpt">
                            <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.</p>
                            <div class="entry__read-more">
                                <a href="blog-single.html" class="entry__read-more-link">Read More</a>
                            </div>
                        </div>
                    </div>

                </article> <!-- end standard post -->
                <!-- Pagination -->
                <div class="pagination clearfix">
                    <nav class="pagination__nav right clearfix">
                        <a href="#" class="pagination__page"><i class="ui-arrow-left"></i></a>
                        <span class="pagination__page pagination__page--current">1</span>
                        <a href="#" class="pagination__page">2</a>
                        <a href="#" class="pagination__page">3</a>
                        <a href="#" class="pagination__page">4</a>
                        <a href="#" class="pagination__page"><i class="ui-arrow-right"></i></a>
                    </nav>
                </div>

            </div> <!-- end col -->
            <!-- Sidebar -->
            <aside class="col-lg-4 sidebar">

                <div class="sidebar__box">

                    <!-- About -->
                    <div class="widget widget_text">
                        <h4 class="widget-title">About</h4>
                        <div class="textwidget">
                            <p>
                                Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine.
                            </p>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="widget widget_categories">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Science</a>
                            </li>
                            <li>
                                <a href="#">Sport</a>
                            </li>
                            <li>
                                <a href="#">Politics</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Recent Posts -->
                    <div class="widget widget_recent_entries">
                        <h4 class="widget-title">Recent Posts</h4>
                        <ul>
                            <li>
                                <a href="#">For the Love of clothes and Fashion Store</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                            <li>
                                <a href="#">New Web Site for Fashion Retailers</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                            <li>
                                <a href="#">Personal Styles of 10 Successful Enterpreneurs</a>
                                <span class="post-date">July 7, 2017</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Follow Us -->
                    <div class="widget widget-follow">
                        <h4 class="widget-title">Follow Us</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>


                    <!-- Tags -->
                    <div class="widget widget_tags clearfix">
                        <h4 class="widget-title">Tag Cloud</h4>
                        <a href="#">Multi-purpose</a>
                        <a href="#">Creative</a>
                        <a href="#">Elegant</a>
                        <a href="#">Clean</a>
                        <a href="#">Modern</a>
                        <a href="#">Responsive</a>
                        <a href="#">E-commerce</a>
                        <a href="#">WordPress</a>
                        <a href="#">Woocommerce</a>
                        <a href="#">Store</a>
                        <a href="#">Business</a>
                    </div>

                </div> <!-- end sidebar box -->
            </aside> <!-- end sidebar -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end blog standard -->
